.profile-avatar {
  text-align: center;
  margin: 10% 0;
}

.profile-avatar img {
  border-radius: 50%;
  width: 200px;
}

.profile-username {
  text-align: center;
  margin: 10% 0;
  font-size: 2rem;
  font-weight: bold;
  color: rgb(99, 171, 235);
  text-transform: capitalize;
}

.profile-email {
  text-align: center;
  font-weight: bold;
  margin: 10% 0;
  font-size: 1.5rem;
}

.profile.logout {
  padding-top: 15%;
  display: flex;
  justify-content: center;
}