.signin-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.signin-wrapper {
    margin: 30% 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;    
}

.arrow {
    margin-top: 100px;
}

svg {
    width: 30px;
    height: 30px;
}

